/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) 

						reset.css
   */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************************************/

@font-face {
    font-family: "Hind Regular";
    src: url("../source/fonts/Hind-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../source/fonts/Montserrat-Bold.otf.otf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat ExtraLight";
    src: url("../source/fonts/Montserrat-ExtraLight.otf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat Regular";
    src: url("../source/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

* {
	box-sizing: border-box;
	font-size: 14px;
	font-family: "Hind Regular", sans-serif;
}

h2 {
	font-size: 2.2rem;
	color: #00a1eb;
	text-transform: uppercase;
	font-family: "Montserrat Bold", sans-serif;
	font-weight: 600;
}

button {
	font-family: "Montserrat Bold", sans-serif;
	background: #00a1eb;
	color: #fff;
	width: 150px;
	height: 60px;
	border-radius: 10px;
	font-weight: 600;
}

button:hover {
	cursor: pointer;
}

a:hover {
	cursor: pointer;
}

.wrapper {
	min-width: 320px;
	max-width: 1280px;
	margin: 0 auto;
	min-height: 100vh;
}

header {
	background-image: url(../source/images/header.jpg);
	background-size: cover;
	color: #fff;
	max-height: 600px;
	max-width: 1280px;
	height: 47vw;
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3% 4%;		
}

header a {
	color: #fff;	
}

header .logo a {

	font-family: "Montserrat ExtraLight", sans-serif;
	font-size: 1.78rem;
	text-decoration: none;
}

header .logo a span {
	font-family: "Montserrat Bold", sans-serif;
	font-weight: 600;
}

header nav ul {
	display: flex;
}

header nav ul li {
	padding: 0 8px;
}

.header-top nav ul li a { 
	text-decoration: none;
	font-weight: 600;
 }

.header-top nav ul li a:hover {
	cursor: pointer;
	border-bottom: 1px solid #fff;
}

.header-top .telephone {
	padding: 10px 0;
	font-weight: 600;
}

.header-top .telephone:hover {
	background: #00a1eb;
	width: 130px;
	height: 40px;
	border-radius: 2px;
}

.header-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 75%;
}

h1 {
	font-family: "Montserrat Bold.otf", sans-serif;
	font-size: 5.7rem;
	font-weight: 600;
	letter-spacing: 5px;
}

header p {	
	font-size: 1.57rem;
	letter-spacing: 3px;
}

main {
	padding: 4% 4% 0 4%;
}

main section {
	display: flex;
	margin: 6% 0;
}

.about {
	width: 50%;
}

.about p {
	margin: 20px 20% 0 0;
	line-height: 1.5;
}
section .shop {
	background: url(../source/images/shop_window.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	height: 29vw;
	max-width: 600px;
	max-height: 380px;
	border: 1px solid black;
}

.about a {
	display: block;
	color: #00a1eb;
	font-size: 1.57rem;
	text-decoration: none;
	padding: 4% 0;
	font-weight: 600;
}

.about h2:after {
	margin-top: 3%;
	content: "";
	display: block;
	border: 1px solid #b1b1b1;
	width: 15%;
}

.shop {
	position: relative;
	width: 50%;
}

.shop span {
	position: absolute;
	bottom: 38px;
	right: 45px;
	color: #fff;
	font-size: 1.57rem;
	font-weight: 600;
}

.assortment h2 {
	padding: 2% 0;
}

.assortment {
	text-align: center;
	padding: 7% 0;
}

.assortment h2:after {
	margin: 1% auto;
	content: "";
	display: block;
	border: 1px solid #b1b1b1;
	width: 8%;
}

.assortment p {
	width: 52%;
	text-align: center;
	margin: 0 auto;
	line-height: 1.5;
}

.fishes {
	display: flex;
	margin: 3% 0;
	flex-wrap: wrap;
	justify-content: center;
}

.assortment .fish {
	font-family: "Montserrat Regular", sans-serif;
	color: #fff;
	display: flex;
	height: 270px;
	width: 270px;
	font-weight: 600;
	margin: 1%;
	align-items: center;
}

.fish p {
	width: 60%;
}

.fish:first-child {
	background: url(../source/images/fish_1.jpg) no-repeat;
}

.fish:nth-child(2) {
	background: url(../source/images/fish_2.jpg) no-repeat;
}

.fish:nth-child(3) {
	background: url(../source/images/fish_3.jpg) no-repeat;
}

.fish:nth-child(4) {
	background: url(../source/images/fish_4.jpg) no-repeat;
}

.assortment .fish button {
	display: none;
	background-color: #fff;
	color: #00a1eb;
	height: 30px;
	width: 60%;
	margin: 5px auto 0;
}

.assortment .fish:hover button {
	display: block;
}

.assortment span {
	display: block;
}

.services {
	display: flex;
	justify-content: space-around;
	padding: 3% 0;
}

.sprite {
	text-align: center;
	padding: 0 10px;
}

.sprite:hover:before {
	background-color: #fff;
	border: 2px solid #00a1eb;
	cursor: pointer;
}

.sprite:before {
	content: "";
	display: block;
	background: url(../source/images/sprite.png) no-repeat 0 0;
	background-color: #00a1eb;
	border-radius: 50%; 
	width: 175px;
	height: 180px;
	margin: 0 auto 10px;
}

 .sprite:nth-child(2):before {
	background-position: -175px 0;
}

.sprite:nth-child(3):before {
	background-position: -350px 0;
}

.sprite h3 {
	font-size: 1.6rem;
	color: #00a1eb;
	padding: 5% 0 2%;
	font-weight: 600;
}

.sprite h3:after {
	content: "";
	margin: 5% auto;
	display: block;
	border: 1px solid #b1b1b1;
	width: 22%;
}

.sprite p {
	line-height: 1.3;
}

.catering button {
	margin: 2% auto;
	display: block;

}

.map {
	background-color: #2eb2ef;
	color: #fff;
	display: flex;
}

.map img {
	width: 55%;
  	height: auto;
}

.map_contacts {
	line-height: 1.3;
	width: 40%;
	text-align: right;
	margin: auto 0;
}

.map_contacts h2 {
	color: #fff;
}

.map_contacts h2:after {
	margin: 3% 0;
	content: "";
	display: block;
	border: 1px solid #fff;
	width: 15%;
	margin-left: auto;
}

.map_contacts button {
	background-color: #fff;
	color: #2eb2ef;
	margin: 10% 0 0 0;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	font-weight: 600;
}

.footer_top {
	display: flex;
	justify-content: space-around;
	padding: 4% 0;
}

.footer_top a { 
	color: #000; 
}

.footer_block {
	padding: 0 1%;
	
}

.footer_block ul li {
	padding: 5px 0;
}

.footer_block ul li a {
	text-decoration: none;
}

.footer_block ul li a:hover {
	font-weight: 600;
}

.footer_block h3 {
	font-size: 1.57rem;
	padding: 10px 0;
}

.footer_bottom {
	background-color: #2b2b2b;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2%;
	height: 13vh;
}

.footer_bottom p {
	padding: 3%;
}

@media (max-width: 1000px) {
	.header-top {
		flex-wrap: wrap;
	}

	.about, .shop {
		width: 600px;
	}

	.about button {
		margin-bottom: 10px;
	}

	.about p {
		width: 100%;
	}
	
	main section {
		margin: 2% 0;
	}

	main section:first-child {
		flex-wrap: wrap;
		justify-content: center;
	}

	.assortment p {
		width: 80%;
	}
}	

@media (max-width: 760px) {

	h1 {
		font-size: 4.5rem;
	}

	.services {
		flex-wrap: wrap;
	}

	.sprite {
		width: 254px;
	}

	.footer_top {
		flex-wrap: wrap;	
	}

	.footer_block {
		width: 260px;
	}
}

 @media (max-width: 685px) {

	h1 {
		font-size: 3rem;
	}

 	.header-top ul {
 		flex-wrap: wrap;
 		justify-content: center;
 	}

	.header-top ul li {
		width: 140px;
	} 	

	.header-bottom {
		height: 55%;
	}

	.map_contacts {
		line-height: 1;
		width: 43%;
	}

	.map_contacts h2 {
		font-size: 1.5rem;
	}

	.map_contacts p {
		font-size: 0.8rem;
	}

	.map_contacts button {
		margin: 2% 0 0 0;
	}
 }

 @media (max-width: 470px) {
	
	header .logo a {
		font-size: 0.9rem;
	}

	.header-top nav ul li a {
		font-size: 12px;
	}

 	h1 {
		font-size: 2rem;	
	}

	.header-bottom {
		justify-content: normal;
	}

	header p {
		font-size: 1rem;
    	letter-spacing: normal;
	}

	.shop span {
		bottom: 15px;
    	right: 15px;
    	font-size: 1.2rem;
	}

	.map_contacts p {
		font-size: 0.6rem;
	}
}

 @media (max-width: 370px) {
	
	.map_contacts h2 {
		font-size: 1rem;
	}

	.footer_bottom {
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
	}

	.footer_bottom p {
		width: 220px;
	}
 }