/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********************************************************/


* {
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	line-height: 1.7;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    height: 100vh;
}

.wrapper-inner {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 20px;
}

a {
	text-decoration: none;
	color: #fff;
}

/**********************************************************/

header {
	background: url("../source/images/picture.jpg") 0 0 no-repeat;
	background-size: cover;
	color: #fff;	
}

h1 {
	font-size: 4rem;
	color: #fff;
	text-align: center;
	padding: 15px;
}

.about_me {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
}

.about_me div {
	width: 30%;
	text-align: center;
	font-size: 1.2rem;
}

.contacts ul li {
	list-style: none;	
}

.contacts, .sosial, .photo_name {
	padding: 15px 5px;
}

i {
	font-family: "FontAwesome";
}

.fa-map-marker,
.fa-mobile,
.fa-at,
.fa-facebook,
.fa-linkedin-in {
	color: #fff;
    width: 40px;
    height: 40px;
    font-size: 22px;
    cursor: pointer;
}

.fa-map-marker {
	cursor: default;
}

.photo_name p {
	font-size: 2em;
	padding: 10px;
	color: #fff;
}

.photo_name img {
	display: block;
	border-radius: 50%;
	border: 0.5em solid #050228;
	width: 230px; 
	height: 240px;
	margin: 0 auto;
}

.target {
	text-align: center;
	font-weight: 600;
	font-size: 1.1rem;
}

section p {
	margin: 10px;
}

section {
	padding: 1em 0;	
}

h2 {
	font-family: 'Monotype Corsiva', cursive;
	font-size: 1.5rem;
	width: 45%;
	min-height: 40px;
	background-color: #04305d;
	margin: 10px auto;
	text-align: center;
	color: #fff;
}

.my_projects a {
	color: #000;
	display: block;
}

@media (max-width: 780px) {
	.about_me {
		flex-wrap: wrap;
		flex-direction: column;
		padding: 10px 0;
	}

	.about_me div {
		width: 230px;
	}
}

@media (max-width: 450px) {
	* {
		font-size: 12px;
	}
	
	h1 {
		font-size: 3rem;
	}

	h2 {
		width: 180px;
	}
}

@media (max-width: 334px) {
	h1 {
			font-size: 2rem;
		}
}

